# Ignore Python build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Ignore virtual environment
venv/
bin/
include/
lib/
pyvenv.cfg

# Ignore environment variables
.env

# Ignore data files
answer_keys/
llm_responses/
share/

# Ignore system files
.DS_Store

# Ignore log files
*.log
